header .centerMaker {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: top;
}

header .mainTitle {
	display: inline-block;
	text-align: center;

	border-top: 1px solid black;
	border-bottom: 1px solid black;

	margin: 1em auto;
}

header .mini {

}

header .mainTitle p {
	margin: 0;
	padding: 0;
}



header img.navbar-brand {
	max-height: 100%;
	margin: 0;
	padding: 0;
}


