@font-face {
	font-family: 'yeseva';
	src:
		url('fonts/yesevaOne.woff2') format('woff2'),
		url('fonts/yesevaOne.woff') format('woff'),
		url('fonts/yesevaOne.otf') format('otf'),
		url('fonts/yesevaOne.ttf') format('truetype');
}

header .font-title {
	font-family: 'yeseva', serif
}


header .centerMaker {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: top;
}

header .mainTitle {
	display: inline-block;
	text-align: center;

	border-top: 1px solid black;
	border-bottom: 1px solid black;

	margin: 1em auto;


}

header .mini {
	position: relative;
	display: inline-block;
	background-color: white;

	top: -0.8em;
	z-index: 1;
}

header .mainTitle p {
	margin: 0;
	padding: 0;
}



header img.navbar-brand {
	max-height: 100%;
	margin: 0;
	padding: 0;
}


header .container-fluid {
	padding: 0;
	margin: 5% 0;
}

header .parentSurimpressed {
	position: relative;
	padding: 0;
	margin: 0;
}

header .surimpressedOnParent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );

	margin-left: auto;
	margin-right: auto;

	max-height: 50%;
}

